#darkestColor-LeftSideBarBG {
    color: #333;
}

#darkColor-MainContentBG {
    color: #212121;
}

#lightColor-SubtitleColor {
    color: #f5e3e0;
}

#lightestColor-TitleColor {
    color: #f5f5f5;
}

#primaryColor-AccentColor {
    color: #1b91ff;
}